<div{{ attributes.addClass('profitroom-block-content') }}>
  <form>
    <div class="checkin">
      <label for="check-in">{{ 'Check-in' | t }}</label>
      <input id="check-in" name="check-out" type="date">
    </div>

    <div class="checkout">
      <label for="check-out">{{ 'Check-out' | t }}</label>
      <input id="check-out" name="check-out" type="date">
    </div>

    <div class="checkout">
      <button onclick="" type="submit">{{ 'Check Availability' | t }}</button>
    </div>
  </form>
</div> 
